.search-wrapper .logo-and-wordmark .logo {
	background: url("logo.png") no-repeat center !important;
	background-size: auto !important;
	background-size: 82px !important;
	display: inline-block !important;
	height: 82px !important;
	width: 82px !important;
}
